.container {
  @apply max-w-[1320px] px-2 mx-auto;
}

.container-md {
  @apply mx-auto px-4 md:px-5 xl:max-w-[1180px] 2xl:max-w-[1272px];
}

.section {
  @apply py-16 lg:py-24;
}

.main-border-gradient {
  @apply bg-gradient-to-b from-gray-200 dark:from-[#EDECF4]/[6%] from-[0%] via-gray-200 dark:via-[#EDECF4]/[6%] via-[80%] to-transparent dark:to-white/0 to-[100%];
}
